<div id="cont_header">
    <div id="top-header" class="top-header container" :style="{ paddingBottom: height + 'px' }">
        <div class="top-header-inner d-flex justify-content-end pt-1 row">
            <ul class="menu_top col-7 col-xl-5 d-none d-md-flex align-items-end">
                <li>                
                    <a {%if request.path contains 'personas'%}class="active" href="{{site.url}}"{%else%}href="{{site.url}}"{%endif%}>Personas</a>
                </li>
                <li>
                    <a href="https://ww3.bancochile.cl/wps/wcm/connect/privada/portal/inicio-privada/inicio" id="btn_edw_header_banca-privada">Privada</a>
                </li>
                <li>
                    <a href="https://ww3.bancochile.cl/wps/wcm/connect/bch-empresas/bancodechile/empresas" id="btn_edw_header_empresas-y-sociedades">Empresas y Sociedades</a>
                </li>
            </ul>
            <ul class="col-12 col-md-5 cont_accessibility d-flex align-items-center justify-content-end pb-1">
                <li><small class="text-muted mr-2 d-inline d-md-none d-lg-inline">Tamaño de Texto</small></li>
                <li>
                    <button class="minus text-change" id="btn_edw_accesibilidad_achicar-texto">
                        <i class="la la-minus"></i>
                        <span class="sr-only">Boton disminuir tamaño texto</span>
                    </button>
                </li>
                <li class="ml-1 mr-3">
                    <button class="plus text-change" id="btn_edw_accesibilidad_aumentar-texto">
                        <i class="la la-plus"></i>
                        <span class="sr-only">Boton aumentar tamaño de texto</span>
                    </button>
                </li>
                <li class="mr-3">
                    <button class="brightness" id="btn_edw_accesibilidad_contrast" >
                        <i class="las la-adjust"></i>
                        <span class="sr-only">Boton contraste</span>
                    </button>
                </li>
                <li>
                    <button class="d-none d-md-inline listen btn_start" id="btn_edw_accesibilidad_listen">
                        <i class="las la-assistive-listening-systems"></i>
                        <span class="sr-only">Boton audio</span>
                    </button>
                </li>

            </ul>
        </div>
    </div>
    <header id="header">
        <div class="header" id="navbar" :class="{ sticky: isSticky }">
            <div class="header-inner container">
                <div class="row d-flex align-items-center    justify-content-between">
                    <div class="col col-md-3 d-flex align-items-center">
                        <a class="navbar-brand" href="{{ site.url }}" id="btn_edw_header_logo">
                            <img src="{{ site.logo | asset_url : 'original' }}" alt="logo banco de chile" class="w-100">
                            <span class="sr-only">Home</span>
                        </a>
                    </div>
                    <button @click="toggleMenu" id="menu_icon" class="bg-transparent border-0 navbar-toggle d-block d-md-none p-1" aria-label="boton menu">
                        <i class="la la-bars"></i>
                    </button>
                    <nav class="navbar col-12 col-md-12 col-lg-9 py-md-0 align-items-start">
                        <ul class="flex-wrap w-100 p-0 py-md-0 pt-5 d-md-flex align-items-start align-items-md-center justify-content-md-between justify-content-start flex-column flex-md-row cont_menu" :class="{opened_search : search}">
                            <li>
                                <button id="btn_edw_header_close_menu" class="navbar__close p-0 m-0 border-0" @click="toggleMenu">
                                    <i class="las la-times display-6"></i><span class="sr-only">Cerrar Menu</span>
                                </button>
                            </li>
                            <li class="droppable flex-column flex-md-row">
                                <a href="/personas" class="home  link_menu link_options">
                                    <i id="btn_edw_menu_home" class="icon-propiedad"></i>
                                </a>
                            </li>
                            <li class="droppable flex-column flex-md-row"
                                    @mouseover="mouseOverOption('what')"

                                    >
                                <a href="javascript:void(0)"
                                     class="link_menu link_options main"
                                     :class="{active : currentOption === 'what'}"
                                     @keyup.tab="selectOption('what', $event)"
                                     @click="selectOption('what', $event)"

                                     id="btn_edw_menu_quenecesitas">
                                    ¿QUÉ NECESITAS?
                                </a>
                                {% snippet "megamenu_que_necesitas" %}
                                <!-- .mega-menu -->
                            </li><!-- .droppable -->
                            <li class="droppable flex-column flex-md-row"
                                    @mouseover="mouseOverOption('products')"

                                    >
                                <a href="javascript:void(0)"
                                     class="link_menu link_options main"
                                     :class="{active : currentOption === 'products'}"
                                     @click="selectOption('products', $event)"
                                     @keyup.tab="selectOption('products', $event)"
                                     id="btn_edw_menu_productos">
                                    Productos
                                </a>
                                {% snippet "megamenu_productos" %}
                            </li>
                            <li @mouseover="mouseOverOption('benefits')"><a href="{{site.url}}/beneficios/" class="link_menu" id="btn_edw_menu_beneficios" tabindex="0">Beneficios</a></li>
                            <li @mouseover="mouseOverOption('help')"><a href="{{site.url}}/ayuda" class="link_menu" id="btn_edw_menu_ayuda" tabindex="0">Ayuda</a></li>
                            <li>
                                <button class="border-0 bg-transparent search_menu" @click="toggleSearch()"  @keyup.tab="toggleSearch()" id="click_edw_menu_buscador" aria-label="boton buscar" ><i class="la la-search" ref="search"></i></button> </li>           

                            <li id="con_search">
                                <div id="search">
                                    <form name="buscador" class="d-flex justify-content-between w-100" v-on:submit.prevent="goToSearch()">
                                        <label for="inputsearch"><span class="sr-only">Ingresar busqueda</span>
                                        </label><input id="inputsearch" name="search" placeholder="¿Qué estás buscando?" type="text" v-model="search_input" autocomplete="off">
                                        <button class="sr-only" type="submit">Buscar</button>
                                    </form>
                                    <button type="button" @click="toggleSearch()" @keyup.enter="focuSearch()" id="click_edw_header_cerrar_buscador"  class="btn-primary bg-transparent border-0" name="Cerrar buscador" aria-label="Boton cerrar busqueda" tabindex="0">
                                        <i class="las la-times"></i>
                                    </button>
                                </div>
                                <div id="results">
                                    <h5 class="font-weight-bold mb-3" v-if="!searching">¿Qué Necesitas?</h5>
                                    <div class="results">
                                        <ul>
                                            <li class="d-flex flex-column">
                                                <a v-for="result in allResults" :href="result.url" :id="'btn_edw_buscador_'+result.title" tabindex="0"><i v-if="!searching" :class="result.icn"></i> ${result.title}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <h5 v-if="allResults.length == 0" class="h5 m-0 font-weight-light">No se encontraron resultados para <b>${search_input}</b></h5>
                                    <a class="btn btn-secondary btn-pill btn-xs" v-if="searching && allResults.length > 0" :href="urlSearch" id="btn_edw_buscador_mas-resultados">Más resultados</a>
                                </div>
                            </li>
                            <!--li><a href="{{site.url}}/hazte-cliente" class="btn btn-outline-light btn-pill" id="btn_edw_menu_hazte_cliente" tabindex="0" @keyup.tab="closeSearch()">HAZTE CLIENTE</a></li-->
                            <li><a href="https://portalpersonas.bancochile.cl/persona/" class="btn btn-secondary btn-pill" id="btn_edw_menu_banco-en-linea"  tabindex="0">BANCO EN LÍNEA</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>      
    </header>
    <div id="submenu" class="submenu">
        <button id="click_edw_menu_submenu-volver" class="submenu__back p-0 m-0 border-0" title="boton volver">
            <i class="las la-angle-left display-7"></i><span class="sr-only">Volver</span>
        </button>
        <div></div>
    </div>
</div>