.header {
	position: relative;
	z-index: 1039;
	box-shadow: 0px 5px 10px rgba(0,0,0,.2);
	transition: {{transition}};
}

.header.sticky {
	width: 100%;
	position: fixed;
	top: 0;
	transition: {{transition}};
	box-shadow: 0px 10px 20px rgba(0,0,0,.3);
}
header ul,
.top-header ul {
	margin:0;
}
header ul li,
.top-header ul li {
	list-style: none;
	margin: 0;
}
.menu_top li a {
	background: transparent;
	margin: 0 4px;
	border-radius: 5px 5px 0px 0px;
	padding: 10px 10px 7px 10px;
	transition: all 0.3s ease;
	display: flex;
	font-size: .9em;
	line-height: 1.3;
}
.menu_top a:hover {
	color: {{secondary}};
	transition: {{transition}};
}
.menu_top a.active,
.menu_top a.active:hover {
	background: {{primary_dark}};
	color: {{light}};
}
.cont_accessibility button {
	background: {{ primary_green }};
	color: {{primary}};
	display: flex;
	width: 50px;
	height: 30px;
	font-size: 25px;
	align-items: center;
	justify-content: center;
	transition: {{transition}};
	border: 0;
}
.cont_accessibility button:hover {
	background: #ACB0BA;
	color: #fff;
}
.cont_accessibility button.minus {
	border-radius: 20px 0px 0px 20px;
}
.cont_accessibility button.plus {
	border-radius: 0px 20px 20px 0px;
}
header .header {
	background: {{primary_dark}};
	position: relative;
}
header .navbar {
	position: inherit;
}
header .navbar__close {
	display: none;
	cursor: pointer;
	float: right;
	position:absolute;
	right: 39px;
	top: -30px;
}
header .navbar .btn {
	padding: 5px 25px;
}
header .navbar li {
	display: flex;
}
header .navbar li .link_menu {
	font-size: 1em;
	color: white;
	text-transform: uppercase;
	border-bottom: 5px solid transparent;
	padding: 20px 5px 10px 5px;
	transition: {{transition}};
}
header .navbar li a.home.link_menu i {
    font-size: 1.5em;
}
header .navbar li:hover .link_menu {
	border-bottom: 5px solid white;
	transition: {{transition}};
}
header .navbar .search_menu {
	font-size: 25px;
	color: white;
	text-transform: uppercase;
}
header .brightness {
	border: 0;
	height: 30px;
	background: #E8EEFF;
	border-radius: 5px;
	width: 30px;
	outline: none;
	cursor: pointer;
}
header .listen {
	border: 0;
	height: 30px;
	background: #E8EEFF;
	border-radius: 5px;
	width: 30px;
	outline: none;
	cursor: pointer;
}
@media (max-width: {{media_max_lg}}) {
	.navbar-brand {
		margin-top: 10px;
	}
	.navbar-brand img {
		min-width: 120px;
	}
	header .navbar li .link_menu {
		padding: 5px;
		font-size: .9em;
	}
	header .navbar .btn {
		padding: 3px 15px;
		font-size: .7rem;
	}
	header .navbar .search_menu {
		font-size: 20px;
	}
}
@media (max-width: {{media_max_md}}) {
	header .navbar .search_menu {
		color: {{primary}};
		left: 40px;
		position: fixed;
		top: 25px;
		/*z-index: 9999;*/
	}
	.opened_search #con_search {
		width: 100%;
		overflow: inherit;
		transition: .3;
		z-index: 99;
		position: fixed;
		z-index: 99999999999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #133587;

	}
	#con_search #search { 
		border-radius: 0;
		font-size: 17px;
		height: 50px;
		top: 0;
		transform: none;
		position: relative;
	}
	#con_search #results {
		position: relative;
		top: auto;
		padding: 20px;
	}
	header .navbar {
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		background: #fff;
		z-index: 9999;
		padding: 0;
		transform: translateX(-100%);
		transition: {{transition}};
	}
	header .navbar > div {
		max-height: 100vh;
		overflow: auto;
	}
	header .navbar__close {
		display: block;
	}
	header .navbar.active {
		transform: translateX(0%);
		transition: {{transition}};
	}
	header .navbar li {
		width: 100%;
		position: relative;
	}
	header .navbar li ul li.h3 {
		color: #747D90 !important;
		font-size: .9em !important;
		margin-bottom: 0;
		height: 50px;
		align-items: center;
		display: flex;
		border-bottom: 1px solid #919AAD;
		padding-left: 30px;
		padding-right: 30px;
		text-transform: uppercase;
		position: relative;
		cursor: pointer;
	}
	header .navbar li ul li.h3 a {
		color: #747D90 !important;
		font-size: .9em !important;
	}
	header .navbar li ul li.h3:after {
		content: '';
		width: 20px;
		height: 20px;
		display: block;
		position: absolute;
		right: 6px;
		top: 14px;
		background: url(https://sitiospublicos.bchpreproductivos.com/uploads/000/000/135/3bf36478-6cf8-4dc0-bc16-3ab76ac915f2/original/arrow-gray.svg) center no-repeat;
		transform: rotate(-90deg);
	}
	header .navbar li:hover .link_menu {
		border-bottom: 1px solid #919AAD;
	}
	header .navbar li ul:last-child li.h3 {
		border-bottom: 0;
	}
	header .navbar li .link_options {
		position: relative;
	}
	header .navbar li a.main:after {
		content: '';
		width: 20px;
		height: 20px;
		display: block;
		position: absolute;
		right: 10px;
		top: 20px;
		background: url(https://sitiospublicos.bchpreproductivos.com/uploads/000/000/135/3bf36478-6cf8-4dc0-bc16-3ab76ac915f2/original/arrow-gray.svg) center no-repeat;
		transition: .4s;
	}
	header .navbar li a.active:after {
		transform: rotate(-180deg);
	}
	header .navbar li ul {
		margin-bottom: 0;
	}
	header .navbar li ul li {
		display: none;
	}
	header .navbar li .link_menu {
		color: #747D90;
		padding: 22px 10px;
		border-bottom: 1px solid #919AAD;
		width: calc(100% - 60px);
		margin: 0 auto;
		position: relative;
	}
	header .navbar li .link_menu.active {
		color: #396EFF;	
	}
	header .navbar li .link_menu.active:before {
		content: '';
		position: absolute;
		width: 6px;
		height: 30px;
		background: #396eff;
		left: -30px;
		top: 15px;
	}
	.mega-menu {
		position: static;
	}
	header .btn-pill {
		height: 44px;
		line-height: 44px;
	}
	header .navbar .btn {
		padding-top: 0;
		padding-bottom: 0;
		width: 90%;
		display: block;
	}
	header .btn-outline-light.btn-pill {		
		margin: 40px auto 0;
		color: #4E7DFF;
		border-color: #4E7DFF;
	}
	header .btn-secondary.btn-pill {
		margin: 30px auto;
	}
	header .navbar li ul {
		padding: 0;
		margin: 0;
	}
}
.submenu {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #F0EFFC;
	z-index: 9999;
	transform: translateX(-100%);
	transition: {{transition}};
	white-space: initial !important;
}
.submenu.active {
	transform: translateX(0%);
	transition: {{transition}};	
}
.submenu__back {
	position: absolute;
	top: 70px;
	left: 30px;
	z-index: 6;
	cursor: pointer;
}
.submenu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.submenu li.h3 {
	color: #396EFF !important;
	font-size: 1.1em !important;
	margin-left: 42px;
	background: rgba(0, 87, 61, 1);
	background-color: white;
	margin: 0;
	padding: 70px 20px 30px 80px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.submenu ul li.h3 a {
	border: none;
	padding: 0;
	height: auto;
	color: {{primary}} !important;
	font-size: 20px !important;
}
.submenu ul li {
	padding: 0 20px 0 40px;
}
.submenu ul li a {
	color: #747D90 !important;
	font-size: 1em !important;
	margin-bottom: 0;
	height: auto;
	padding: 10px 0;
	align-items: center;
	display: flex;
	border-bottom: 1px solid #919AAD;
	padding-left: 20px;
	text-transform: uppercase;
	font-weight: 500;
}
.submenu ul li a i span:before {
	color: #747D90 !important;
}
.submenu ul li a i {
	margin-right: 10px;
}
.submenu ul li:last-child a {
	border: 0;
}
.cont_menu.opened_search {
	position: relative;
}
#con_search {
	position: absolute;
	width: 0;
	overflow: hidden;
	transition:.3;
}
#search {
	position: absolute;
	width: 100%;
	display: flex;
	background: {{ primary }};
	border-radius: 15px;
	height: 40px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
}
#search input {
	width: 100%;
	background: transparent;
	border: none;
	color: #fff;
	padding: 10px 20px;
}
#search input::-webkit-input-placeholder,
#search input::-moz-placeholder,
#search input:-ms-input-placeholder,
#search input:-moz-placeholder,
#search input::placeholder {
	color: rgba(255,255,255,.2) !important;
}

#search button {
	font-size: 1.4em;
	color: white;
	margin-right: 10px;
	display: flex;
	align-items: center;
	transition: {{transition}};

	
}
#results {
	position: absolute;
	width: 100%;
	color: #fff;
	background: {{primary_light}};
	border-radius: 15px;
	height: auto;
	top: 50%;
	padding: 35px 20px 20px 20px;
	z-index: 1;
}
#results .results a {
	color: #fff;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	transition: {{transition}}
}
#results .results a:hover {
	padding-left: 10px;
	transition: {{transition}}
}
#results .results a i {
	margin-right: 5px;
}
.opened_search #con_search {
	width: 100%;
	overflow: inherit;
	transition:.3;
	z-index: 99;
	display:flex;
	flex-direction:column;
}
.navbar-brand {
	margin-right: 0 !Important;
}