.slide-prime.slick-slider {
	background: {{primary_dark}};
}
.slide-prime .img_slide {
	height: 350px;
	background-size: cover;
	background-position: center;
	padding: 0;
	margin: 0;
}
.slide-prime .img_slide:after {
	content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url(https://sitiospublicos.bchpreproductivos.com/uploads/000/002/846/44764ce3-a156-4ef6-a8ab-956920302e90/original/curve_hero.svg);
    right: -10px;
    background-size: auto 100%;
    background-position: right;
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
}


.slide-prime .text_slide h5 {
	font-size: 1.5em !important;
	font-weight: 100;
}
.slide-prime .text_slide h2 {
	font-size: 2.4em !important;
	margin-bottom: 30px;
}
.slick_action li  {
	width: 23%;
	margin: 0 1%;
	display: flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	border-radius: 10px;
	background: transparent;
	border: transparent 1px solid;
	cursor: pointer;
}
.slick_action a  {
	color: #fff;
	text-align: center;
	padding: 10px;
	width: 90%;
}
.slick_action  li:hover {
	background: linear-gradient(0deg, {{primary_ultra_dark}} 0%, {{primary_ultra_darkest}} 100%);
	border: {{primary_light}} 1px solid;
}
.slick_action  li.active {
	background: {{primary_ultra_dark}};
	background: linear-gradient(0deg, {{primary_ultra_dark}} 0%, {{primary_ultra_darkest}} 100%);
	border: {{primary_light}} 1px solid;
}
.slick_action  a h4 {
	font-size: 1em !important;
	font-weight: 300;
	color: rgba(255,255,255,.6);
}
.slick_action   a h3 {
	font-size: 1em !important;
	margin-bottom: 0;
	font-weight: 100;
	margin-bottom: 5px;

}

@media (min-width:{{media_md}}) {
	.container-fluid.text_slide {
		background: transparent !important;
		height: 350px;
		display: flex;
		align-items: center;
		position: absolute;
		left: 50%;
		-webkit-transform: translatex(-50%);
		-moz-transform: translatex(-50%);
		-o-transform: translatex(-50%);
		transform: translatex(-50%);
		top: 0;
		justify-content: flex-end;
	}
	.slide-left {
		justify-content: flex-end;
	}
	.slide-left .container-fluid.text_slide {
		justify-content: flex-start;	
	}
	.slide-prime .slide-left .img_slide {
		order: 2;
	}
	.slide-prime .slide-left .img_slide:after {
		transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		left: 0;
	}
	.slide-prime .slide-left .text_slide {
		order: 1;
	}
	.slide-prime .slide-left .text_slide .offset-md-1,
	.slide-full .text_slide .offset-md-1 {
		margin-right: 8.333333%;
	}
	.slide-prime .slide-left .text_slide .row,
	.slide-full .text_slide .row {
		justify-content: flex-end;
	}
	.slide-full .img_slide:after {
		display: none;
	}
	.slide-full .text_slide {
		position: absolute;
		z-index: 2;
	}
	.slide-full {
		position: relative;
	}
	.slide-full:after {
		content: '';
		background: linear-gradient(-90deg, rgba(0,0,0,.5) 50%, rgba(0,0,0,0) 100%);
		position: absolute;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
	}
}
@media (max-width:{{media_max_md}}) {
	.slide-prime .slick-slide {
		align-items: start;
	}
	.slide-prime .img_slide {
		height: 70%;
		background-position: left 20% top;
	}
	.cont_text_slide {
		padding: 0 !important
	}
	.slide-prime .slick-slider {
		height: 500px !important;
	}
	.slide-prime.slick-slider {
		background: url(https://sitiospublicos.bchpreproductivos.com/uploads/000/001/136/f707645c-fe7c-4a2d-a24f-a734e3b10e9b/original/bg_slide_m.svg);
		background-color: white;
		background-position: center bottom 100px;
		background-repeat: no-repeat;
		background-size: 102%;
	}
	.slide-prime .slick-slide {
		margin: 20px;
		position: relative;
		height: 410px !important;
		border-radius: 20px;
		overflow: hidden;
	}
	.slide-prime .slick-slide .img_slide {
		position: relative;
	}
	.slide-prime .slick-slide:after {
		display: none;
	}
	.slide-prime .slick-slide .text_slide {
		position: absolute;
		z-index: 2;
		background: {{primary_dark}};
		bottom: 0;
		left: 0;
		right: 0;
		padding: 15px;
	}
	.slide-prime .slick-slide .text_slide:after {
		content: '';
		bottom: 100%;
		right: 0;
		width: 100%;
		height: 100px;
		background: url(https://sitiospublicos.bchpreproductivos.com/uploads/000/002/827/d6154095-6f98-4c05-9fd8-944facd834e6/original/curvaheroresp.svg);
		background-repeat: no-repeat;
		background-size: 110%;
		background-position: center bottom -5px;
		position: absolute;
	}
	.slide-prime .slick-slide .text_slide .btn {
		width: 100%;
		display: block;
		padding: .5rem 1.5rem;
		font-size: 1em !important;
	}
	.slide-prime .text_slide h2 {
		font-size: 1.5em !important;
		margin-bottom: 15px;
	}
	.slide-prime .text_slide h5,
	.slide-prime .text_slide h3 {
		font-size: 1.2em !important;
		font-weight: 100;
	}
	.slide-prime .slick-list{
		padding:0 30px;
	}
	.slide-prime .slick-dots {
		margin-top: 15px;
	}
}
@media (max-width:{{media_max_sm}}) {
	.slide-prime .slick-list{
		padding:0 10px;
	}
	.slide-prime .slick-slide {
		margin: 5px;
	}
	.slide-prime .text_slide h2 {
		font-size: 1.2em !important;
	}
	.slide-prime .text_slide h5,
	.slide-prime .text_slide h3 {
		font-size: 1em !important;
	}
}