{%if post.custom_fields["Url"].size > 5 %}
<script>
	window.location.href = "{{post.custom_fields["Url"]}}";
</script>
{% else %}
{% if category.slug == 'beneficios' or category.parent.slug == 'beneficios'%}
{% if category.slug == 'campanas' and post.tag_list contains 'campaña' %}
{% snippet "campana_html" %}
{%else%}
{% snippet "beneficios_show_html" %}
{% endif %}
{% elsif category.slug == 'ayuda' or category.parent.slug == 'ayuda'%}
{% snippet "ayuda_html" %}
{% elsif category.slug == 'aplicaciones'%}
{% snippet "detalle_apliaciones_html" %}
{% elsif category.slug == 'tarjetas'%}
{% snippet "tarjetas_html" %}
{% elsif category.slug == 'cuentas'%}
{% snippet "cuentas_corrientes_html" %}
{% elsif category.parent.slug == 'seguros' %}
{% snippet "seguros_html" %}
{% elsif category.slug == 'credito-hipotecario' %}
{% snippet "credito_hipotecario_html" %}
{% elsif category.slug == 'credito-consumo' %}
{% snippet "credito_consumo_html" %}
{% elsif category.slug == 'credito' %}
{% snippet "credito_html" %}
{% else %}
<div class="cont_hero container-fluid bg-primary_dark">
	<div class="row bg-primary_dark hero">
		<figure class="col-12 col-md-6 img_hero" style="background-image:url({{ post.covers.first | asset_url: 'original' }});">
		</figure>
		<div class="col-12 col-md-6 text_hero align-self-center">
			<div class="row">
				<div class="offset-md-1 col-12 col-md-7 text-white">
					<h1 class="h2 text-uppercase">{{post.title}}</h1>
					<!--<h2 class="h5 font-weight-light text-gray_light">-->
						{{post.excerpt}}
					
					<!--	</h2>-->
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container my-4">
{{post.description}}
</div>
{% endif %}
{%endif%}